body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button {
	margin: 0;
	padding: 0
}

body {
	font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
	line-height: 1.5;
	font-size: 16px;
	color: #000;
	background-color: #f8f8f8;
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	outline: 0
}

li {
	list-style: none
}

a {
	-webkit-touch-callout: none;
	text-decoration: none
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}

a:focus,input:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input {
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input[type="button"] {
	-webkit-appearance: none
}

input[type="text"] {
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-appearance: none
}

input[type="tel"] {
	-webkit-appearance: none
}

.w1 {
	width: 10%
}

.w2 {
	width: 20%
}

.w3 {
	width: 30%
}

.w4 {
	width: 40%
}

.w5 {
	width: 50%
}

.w6 {
	width: 60%
}

.w7 {
	width: 70%
}

.w63 {
	width: 63%
}

.w8 {
	width: 80%
}

.w9 {
	width: 90%
}

.w10 {
	width: 100%
}

.left {
	float: left
}

.right {
	float: right
}

body .ui-page-active {
	display: block;
	overflow-y: visible;
	overflow-x: hidden
}

.page1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFF;
	overflow: hidden;
	overflow-y: auto;
	background-color: #f5f5f9;
	height: 100%
}

.page2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
	display: none;
	overflow-y: scroll
}

.page1 .c-infation input[type="password"] {
	display: inline-block
}

.page1 .c-infation a {
	display: inline-block
}

.page2 .div-login a {
	width: 90%;
	margin: 0 auto;
	float: none
}

.div-login {
	padding: 5%;
	overflow: hidden
}

.div-login a {
	color: #FFF;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	background-color: #079cd6;
	width: 40%;
	border: 1px solid #03F;
	border-radius: 5px;
	margin-right: 5%
}

.div-img {
	background-color: #079cd6;
	overflow: hidden;
	padding: 10px 0
}

.div-img img {
	display: block;
	margin: 0 auto
}

.c-infation {
	background-color: #FFF
}

.header {
	background-color: #2e2f30;
	position: relative;
	padding: .3em 0
}

.header a {
	position: absolute
}

.header h1 {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	width: 50%;
	margin: 0 25%;
	padding: .5em 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal
}

.header h1 span {
	font-size: 12px;
	font-weight: normal
}

.header .header-left-icon {
	left: .5em;
	font-size: 12px;
	color: #FFF;
	padding: .5em 1em
}

.header .header-left-icon img {
	width: 12px
}

.header .header-right-icon {
	right: .5em;
	font-size: 12px;
	color: #FFF;
	padding: .7em 1em
}

.div-msg {
	width: 80%;
	border-radius: 5px;
	background: #FFF;
	position: fixed;
	left: 10%;
	top: 50%;
	margin-top: -115px;
	overflow: hidden;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	z-index: 2222
}

.alert-button {
	width: 50%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #39f;
	background: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0 none;
	display: block;
	float: left;
	-webkit-appearance: none;
	font-size: 14px
}

.div-msg .p-title {
	border-bottom: 1px solid #e8e8e8;
	padding: 12px;
	color:#454545
}

.box {
	float: left;
	position: relative;
	padding: 1px;
	top: 10%;
	opacity: .5;
	z-index: 4;
	opacity: 1
}

.box2 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0
}

.tips {
	position: fixed;
	width: 40%;
	margin: 0 auto;
	background: rgba(0,0,0,0.75);
	border-radius: 8px;
	line-height: 1.6;
	padding: 5%;
	font-size: 14px;
	top: 35%;
	left: 25%
}

.tips2 {
	position: fixed;
	width: 70%;
	margin: 0 auto;
	background: rgba(0,0,0,0.75);
	border-radius: 8px;
	line-height: 1.6;
	padding: 5%;
	text-align: center;
	font-size: 14px;
	top: 35%;
	left: 10%
}

.tips1 {
	width: 100%;
	font-size: 18px;
	color: white;
	padding: 5% 0
}

.tips1 p {
	font-size: 14px
}

.tips1 img {
	width: 27px
}

.window {
	text-align: left;
	vertical-align: middle
}

.adver {
	text-align: center;
	margin-top: 10%;
	width: 100%
}

.adver img {
	width: 100%
}

.zhezhao-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 111;
	background: rgba(0,0,0,0.6);
	display: none;
	top: 0
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
	.ui-border-radius {
		position: relative;
		border: 0
	}

	.ui-border-radius:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #e0e0e0;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		padding: 1px;
		-webkit-box-sizing: border-box;
		border-radius: 8px;
		pointer-events: none
	}
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
	.ui-border {
		position: relative;
		border: 0
	}

	.ui-border-t,.ui-border-b,.ui-border-l,.ui-border-r,.ui-border-tb {
		border: 0
	}

	.ui-border-t {
		background-position: left top;
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))
	}

	.ui-border-b {
		background-position: left bottom;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))
	}

	.ui-border-t,.ui-border-b,.ui-border-tb {
		background-repeat: repeat-x;
		-webkit-background-size: 100% 1px
	}

	.ui-border-tb {
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0));
		background-position: top,bottom
	}

	.ui-border-l {
		background-position: left top;
		background-image: -webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))
	}

	.ui-border-r {
		background-position: right top;
		background-image: -webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0))
	}

	.ui-border-l,.ui-border-r {
		background-repeat: repeat-y;
		-webkit-background-size: 1px 100%
	}

	.ui-border:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,right top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0)),-webkit-gradient(linear,right top,left top,color-stop(0.5,transparent),color-stop(0.5,#e0e0e0),to(#e0e0e0));
		-webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
		background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
		-webkit-background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
		background-size: 100% 1px,1px 100%,100% 1px,1px 100%;
		background-repeat: no-repeat;
		background-position: top,right,bottom,left;
		padding: 1px;
		-webkit-box-sizing: border-box;
		z-index: 10;
		pointer-events: none
	}
}

.ui-border-t {
	border-top: 1px solid #ededed
}

.ui-border-b {
	border-bottom: 1px solid #ededed
}

.ui-border-tb {
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	background-image: none
}

.ui-border-l {
	border-left: 1px solid #ededed
}

.ui-border-r {
	border-right: 1px solid #ededed
}

.ui-border {
	border: 1px solid #ededed
}

.ui-border-radius {
	border: 1px solid #ededed;
	border-radius: 4px
}

.on-off-btn {
	transform: rotate(0);
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transition: transform linear .5s;
	-ms-transition: -ms-transform linear .5s;
	-webkit-transition: -webkit-transform linear .5s;
	display: inline-block
}

.btn-rotate {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.td-style1 {
	font-size: 14px;
	color: #555;
	text-align: left;
	line-height: 25px
}

.td-style2 {
	font-size: 14px;
	color: #555;
	text-align: right;
	line-height: 25px
}

.td-style2 span {
	color: #e15858
}

.div-input {
	clear: both;
	overflow: hiddenp;
	width: 90%;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	border-bottom: 1px solid #e8e8e8
}

.div-input dl {
	height: 40px;
	overflow: hidden
}

.div-input dl dd {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 14px
}

.div-input dl dt {
	float: right;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-size: 14px;
	color: #3ea3fe
}

.div-input img {
	width: 100%;
	display: inline-block;
	max-width: 25px;
	margin-top: 7px
}

.div-next {
	margin: 0 auto;
	padding: .3em .8em;
	padding-top: 20px
}

.div-next .p-xieyi {
	text-align: left;
	font-size: 12px;
	padding: 1% 0;
	color: #666
}

.div-next p {
	text-align: right
}

.div-next p a {
	color: #3ea3fe;
	font-size: 14px
}

.btn-style {
	background-color: #ff4e4f;
	color: #FFF;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: center;
	border-radius: 20px;
	color: #FFF;
	width: 90%;
	margin: 0 auto;
	border: 0 none
}

.btn-style:visited {
	color: #FFF
}

.btn-style5:visited {
	color: #ff4e4f
}

.btn-style5 {
	border: 1px solid #ff4e4f;
	color: #ff4e4f;
	background-color: #FFF;
	height: 35px;
	line-height: 35px;
	display: block;
	text-align: center;
	border-radius: 20px;
	width: 90%;
	margin: 0 auto
}

.section-go {
	top: 0;
	box-shadow: 1px 0 4px #666;
	display: block
}

.span-blue {
	color: #098fe6
}

.pay-password {
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 18px
}

.pay-password p {
	font-size: 12px;
	text-align: left;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 10px
}

.pay-password ul {
	text-align: center;
	overflow: hidden;
	width: 85%;
	margin: 0 auto
}

.pay-password ul li {
	float: left;
	display: inline-block;
	border: 1px solid #e5e5e5;
	width: 35px;
	height: 35px;
	font-size: 16px;
	line-height: 35px;
	color: #545454;
	box-sizing: border-box;
	border-left: 0 none;
	border-right-color: #f5f5f5
}

.pay-password ul li:nth-child(1) {
	border-left: 1px solid #f5f5f5
}

.div-main-data h2 {
	text-align: center
}

.div-main-data h2 img {
	vertical-align: middle;
	width: 10%;
	max-width: 36px
}

.bank-list ul li p {
	font-size: 12px;
	color: #999
}

.ins-footer {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0
}

.common-nav {
	border-top: 1px solid #e4e4e4;
	height: 50px;
	background-color: #f8f8f8;
	color: #333;
	box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.ins-bar-nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	font-size: 12px
}

.ins-bar-nav li {
	display: table-cell;
	cursor: pointer;
	font-size: 14px
}

.ins-bar-nav li a {
	display: block;
	width: 100%;
	padding-top: 28px;
	position: relative;
	font-size: 12px;
	color: #454545;
	text-align: center
}

.ins-bar-nav .nav-icon {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -11px;
	background-repeat: no-repeat
}

.active a {
	color: #d9434d!important
}

.active .nav-icon {
	background-position: 0 0
}

.icon-licai {
	background-image: url(../images/icon-licai.png);
	background-size: 100%;
	background-position: 0 -22px
}

.icon-huodong {
	background-image: url(../images/icon-huodong.png);
	background-size: 100%;
	background-position: 0 -22px
}

.icon-zichan {
	background-image: url(../images/icon-zichan.png);
	background-size: 100%;
	background-position: 0 -22px
}

.icon-shezhi {
	background-image: url(../images/icon-shezhi.png);
	background-size: 100%;
	background-position: 0 -22px
}

.slide.out,.slide.in,.back.in,.back.out {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: .5s;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: .5s;
	animation-timing-function: ease-out;
	animation-duration: .5s
}

.slide.out {
	-webkit-transform: translate3d(-100%,0,0);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	transform: translateX(-100%);
	animation-name: slideouttoleft
}

.slide.in {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromright;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromright;
	transform: translateX(0)
}

.back.in {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: backinfromleft;
	-moz-transform: translateX(0);
	-moz-animation-name: backinfromleft;
	transform: translateX(0);
	animation-name: backinfromleft
}

.back.out {
	-webkit-transform: translate3d(100%,0,0);
	-webkit-animation-name: backouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: backouttoright;
	transform: translateX(100%);
	animation-name: backouttoright
}

.mbank {
	background-position: 0 -1583px
}

.gayh {
	background-position: 0 -70px
}

.zcyh {
	background-position: 0 -719px
}

.B001 {
	background-position: 0 -719px
}

.jsyh {
	background-position: 0 -742px
}

.B004 {
	background-position: 0 -742px
}

.nyyh {
	background-position: 0 -695px
}

.B002 {
	background-position: 0 -695px
}

.zxyh {
	background-position: 0 -71px
}

.B009 {
	background-position: 0 -71px
}

.gdyh {
	background-position: 0 -791px
}

.B010 {
	background-position: 0 -791px
}

.xyyh {
	background-position: 0 -142px
}

.B014 {
	background-position: 0 -142px
}

.pfyh {
	background-position: 0 -815px
}

.B015 {
	background-position: 0 -815px
}

.gsyh {
	background-position: 0 -671px
}

.B003 {
	background-position: 0 -671px
}

.ycyh {
	background-position: 0 -48px
}

.B006 {
	background-position: 0 -48px
}

.jtyh {
	background-position: 0 -767px
}

.B005 {
	background-position: 0 -767px
}

.payh {
	background-position: 0 -838px
}

.B041 {
	background-position: 0 -838px
}

.hxyh {
	background-position: 0 -120px
}

.B011 {
	background-position: 0 -120px
}

.msyh {
	background-position: 0 -24px
}

.B008 {
	background-position: 0 -24px
}

.shyh {
	background-position: 0 -886px
}

.B034 {
	background-position: 0 -886px
}

.bjyh {
	background-position: 0 -862px
}

.B036 {
	background-position: 0 -862px
}

.dyyh {
	background-position: 0 -166px
}

.B249 {
	background-position: 0 -166px
}

.nbyh {
	background-position: 0 -190px
}

.B040 {
	background-position: 0 -190px
}

.gfyh {
	background-position: 0 -96px
}

.B012 {
	background-position: 0 -96px
}

.bsyh {
	background-position: 0 -910px
}

.B102 {
	background-position: 0 -910px
}

.csyh {
	background-position: 0 -935px
}

.B089 {
	background-position: 0 -935px
}

.cdyh {
	background-position: 0 -958px
}

.B126 {
	background-position: 0 -958px
}

.cqnsyh {
	background-position: 0 -982px
}

.B198 {
	background-position: 0 --982px
}

.cqyh {
	background-position: 0 -1006px
}

.B071 {
	background-position: 0 -1006px
}

.dlyh {
	background-position: 0 -214px
}

.B050 {
	background-position: 0 -214px
}

.dysyyh {
	background-position: 0 -238px
}

.B135 {
	background-position: 0 -238px
}

.eedsyh {
	background-position: 0 -262px
}

.B141 {
	background-position: 0 -262px
}

.fjncxys {
	background-position: 0 -286px
}

.B192 {
	background-position: 0 -286px
}

.gyyh {
	background-position: 0 -310px
}

.B073 {
	background-position: 0 -310px
}

.gzyh {
	background-position: 0 -1030px
}

.B044 {
	background-position: 0 -1030px
}

.gznsyh {
	background-position: 0 -1055px
}

.B180 {
	background-position: 0 -1055px
}

.hebyh {
	background-position: 0 -335px
}

.B072 {
	background-position: 0 -335px
}

.hnncxys {
	background-position: 0 -358px
}

.B210 {
	background-position: 0 -358px
}

.hsyh {
	background-position: 0 -1078px
}

.B070 {
	background-position: 0 -1078px
}

.hbyh {
	background-position: 0 -1102px
}

.B052 {
	background-position: 0 -1102px
}

.hzyh {
	background-position: 0 -1126px
}

.B053 {
	background-position: 0 -1126px
}

.csnsyh {
	background-position: 0 -1174px
}

.B178 {
	background-position: 0 -1174px
}

.jingsyh {
	background-position: 0 -382px
}

.B124 {
	background-position: 0 -382px
}

.jynsyh {
	background-position: 0 -406px
}

.B187 {
	background-position: 0 -406px
}

.jjyh {
	background-position: 0 -1198px
}

.B083 {
	background-position: 0 -1198px
}

.lzyh {
	background-position: 0 -430px
}

.B077 {
	background-position: 0 -430px
}

.ljyh {
	background-position: 0 -1222px
}

.B046 {
	background-position: 0 -1222px
}

.ncyh {
	background-position: 0 -623px
}

.B078 {
	background-position: 0 -623px
}

.njyh {
	background-position: 0 -1438px
}

.B054 {
	background-position: 0 -1438px
}

.qhyh {
	background-position: 0 -454px
}

.B086 {
	background-position: 0 -454px
}

.qlyh {
	background-position: 0 -1462px
}

.B017 {
	background-position: 0 -1462px
}

.shnsyh {
	background-position: 0 -1246px
}

.B278 {
	background-position: 0 -1246px
}

.sryh {
	background-position: 0 -1261px
}

.B134 {
	background-position: 0 -1261px
}

.sdnsyh {
	background-position: 0 -478px
}

.B182 {
	background-position: 0 -478px
}

.tzyh {
	background-position: 0 -1294px
}

.B087 {
	background-position: 0 -1294px
}

.whsyyh {
	background-position: 0 -1320px
}

.B104 {
	background-position: 0 -1320px
}

.wfyh {
	background-position: 0 -502px
}

.B019 {
	background-position: 0 -502px
}

.wzyh {
	background-position: 0 -1344px
}

.B043 {
	background-position: 0 -1344px
}

.wlmqyh {
	background-position: 0 -1367px
}

.B057 {
	background-position: 0 -1367px
}

.wxnsyh {
	background-position: 0 -526px
}

.B209 {
	background-position: 0 -526px
}

.ycsyyh {
	background-position: 0 -1583px
}

.B061 {
	background-position: 0 -1583px
}

.yzyh {
	background-position: 0 -550px
}

.B195 {
	background-position: 0 -550px
}

.wjnsyh {
	background-position: 0 -1486px
}

.B201 {
	background-position: 0 -1486px
}

.ydnsyh {
	background-position: 0 -648px
}

.B206 {
	background-position: 0 -648px
}

.zjzzsyyh {
	background-position: 0 -574px
}

.B138 {
	background-position: 0 -574px
}

.zjtlsyyh {
	background-position: 0 -1126px
}

.B275 {
	background-position: 0 -1126px
}

.zjmtsyyh {
	background-position: 0 -598px
}

.B133 {
	background-position: 0 -598px
}

.ganzyh {
	background-position: 0 -1283px
}

.jhyh {
	background-position: 0 -1583px
}

.jsncuh {
	background-position: 0 -1583px
}

.sxxdnsyh {
	background-position: 0 -1583px
}

.jzyh {
	background-position: 0 -1151px
}

.B069 {
	background-position: 0 -1151px
}

.nxyh {
	background-position: 0 -1583px
}

.szfzyh {
	background-position: 0 -1583px
}

.ylyh {
	background-position: 0 -1583px
}

@-webkit-keyframes slideouttoleft {
	from {
		-webkit-transform: translate3d(0,0,0)
	}

	to {
		-webkit-transform: translate3d(-100%,0,0)
	}
}

@-moz-keyframes slideouttoleft {
	from {
		-moz-transform: translateX(0)
	}

	to {
		-moz-transform: translateX(-100%)
	}
}

@keyframes slideouttoleft {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(-100%)
	}
}

@-webkit-keyframes slideinfromright {
	from {
		-webkit-transform: translate3d(100%,0,0)
	}

	to {
		-webkit-transform: translate3d(0,0,0)
	}
}

@-moz-keyframes slideinfromright {
	from {
		-moz-transform: translateX(100%)
	}

	to {
		-moz-transform: translateX(0)
	}
}

@keyframes slideinfromright {
	from {
		transform: translateX(100%)
	}

	to {
		transform: translateX(0)
	}
}

@-webkit-keyframes backouttoright {
	from {
		-webkit-transform: translate3d(0,0,0)
	}

	to {
		-webkit-transform: translate3d(100%,0,0)
	}
}

@-moz-keyframes backouttoright {
	from {
		-moz-transform: translateX(0)
	}

	to {
		-moz-transform: translateX(100%)
	}
}

@keyframes backouttoright {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(100%)
	}
}

@-webkit-keyframes backinfromleft {
	from {
		-webkit-transform: translate3d(-100%,0,0)
	}

	to {
		-webkit-transform: translate3d(0,0,0)
	}
}

@-moz-keyframes backinfromleft {
	from {
		-moz-transform: translateX(-100%)
	}

	to {
		-moz-transform: translateX(0)
	}
}

@keyframes backinfromleft {
	from {
		transform: translateX(-100%)
	}

	to {
		transform: translateX(0)
	}
}